@font-face{font-family:BrutalType;src:url(../fonts/BrutalType-Medium.ttf);}
@font-face{font-family:futurademic;src: url(../fonts/futurademic.ttf);}
@font-face{font-family:Bully Normal;src: url(../fonts/Bully_Normal.ttf);}
@font-face{font-family:Didot-HTF-M96-Medium;src: url(../fonts/Didot-HTF-M96-Medium.ttf);}
@font-face{font-family:c;src: url(../fonts/c.ttf);}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #000;/*#61b2b5;*/
}

/*svg_one*/
#my_little_SVG {
    position: relative;
    width: 500px;
    height: 500px;
}
    .logo__title {
        position: absolute;
        color: #fff;
        width: 100%;
        max-width: 250px;
        text-align: left;
        right: 10%;
        top: 40%;
        z-index: 4;
    }
        #logo__name {
            font-family: "BrutalType";
            font-size: 44px;
        }
        #logo__name-small {
            font-family: "futurademic";
            font-size: 25px;
        }
    .site-header-background {
        position: absolute;
        width: 400px;
        height: 400px;
        z-index: 1;
    }
        #stop1,#stop1 {
            transition: all 1s;
        }
        .jagged-top {
            transition: all 2s;
        }
    .site-header-background-2 {
        position: absolute;
        width: 200px;
        height: 200px;
        left: 10%;
        top: 30%;
        z-index: 2;
    }
        .jagged-top-2 {
            transition: all 2s;
        }
    .site-header-background-3 {
        position: absolute;
        width: 100px;
        height: 100px;
        right: 30%;
        bottom: 30%;
        /*left: 30%;*/
        /*top: 10%;*/
        z-index: 0;
    }
        .jagged-top-3 {
            transition: all 2s;
        }